<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
<div class="y-wrap">
  <div class="header">
    <div class="topbar">
      <div class="left clearfix">
        <a href="/download" target="_blank" class="link">下载APP</a>
      </div>  
      <div class="right">
        <ul class="nav-list clearfix">
          <li class="login">
            <a href="/login" class="link">登录</a>
          </li>
          <li>
            <a href="/about" target="_blank" class="link">关于</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="left channel">
      <div class="wchannel">
        <a class="logo" href="/"><img src="/img/topnews.png"></a>
      </div>
      <li onclick=""> 
        <a class="wchannel-item active" href="/"> 
          <span>推荐</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/guonei/">
          <span>国际</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/guoji/">
          <span>国际</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/junshi/">
          <span>军事</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/caijing/">
          <span>财经</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/keji/">
          <span>科技</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/tiyu/">
          <span>体育</span> 
        </a> 
      </li>
      <li onclick=""> 
        <a class="wchannel-item" href="/news/yule/">
          <span>娱乐</span> 
        </a> 
      </li>
    </div>
    <div class="left content">
      <div class="bui-box slide"></div>
      
      <div class="feed-infinite-wrapper">
        <ul>
          <li>
            <div class="bui-box single-mode">
              <div class="bui-left single-mode-lbox">
                <a href="/group/6436293075626574082/" target="_blank" class="img-wrap">
                  <img class="lazy-load-img" src="http://p9.pstatp.com/list/190x124/2a8c000ef82fcd922b62">
                </a>
              </div> 
              <div class="single-mode-rbox">
                <div class="single-mode-rbox-inner">
                  <div class="title-box">
                    <a href="/group/6436293075626574082/" target="_blank" class="link">官媒披露：原二炮副司令员王久荣中将涉嫌违纪违法</a>
                  </div> 
                  <div class="bui-box footer-bar">
                    <div class="bui-left footer-bar-left">
                      <a href="search/?keyword=%E6%97%B6%E6%94%BF" target="_blank" class="footer-bar-action tag tag-style-other">时政</a> 
                      <a href="/search/?keyword=澎湃新闻" target="_blank" class="footer-bar-action source">&nbsp;澎湃新闻&nbsp;⋅</a> 
                      <span class="footer-bar-action">&nbsp;9分钟前</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</body>
</html>
