$height: 40px;
.Header {
  .topbar {
    a {
      color: #fff;
      padding: 0 10px;
      img {
        height: $height;
      }
    }
    height: $height;
    line-height: $height;
    background: #222;
    font-size: 14px;
    color: #fff;
    .item .bold {
      background-color: #8cb620;
      width: 68px;
      text-align: center;
    }
    .item > li {
      float: left;
    }
    .item .userbox {
      width: 130px;
      height: $height;
      position: relative;
      font-size: 14px;
      color: #fff;
      text-align: center;
      .userhead {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 160px;
        color: #fff;
      }
      .userlayer {
        width: 100%;
        position: absolute;
        display: block;
        top: $height;
        right: 0;
        border: 1px solid #d9d9d9;
        border-top: none;
        background: #fff;
        z-index: 22;
        font-size: 14px;
        .layeritem {
          cursor: pointer;
          display: block;
          width: auto;
          height: $height;
          line-height: $height;
          color: #999;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
          &:hover {
            background: #ccc;
          }
        }
      }
    }
  }
  width: 100%;
  min-width: 400px;
  background: #fff;
  margin-bottom: 16px;
  z-index: 2;
}